<form id="paypalForm" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_cart">
    <input type="hidden" name="upload" value="1">
    <input type="hidden" name="business" value="jchaaban@business.paypal.com">

    <th:block th:each="cardItem, iter : ${card}">
        <input type="hidden" th:name="'item_name_'+${iter.count}" th:value="${cardItem.value.name}">
        <input type="hidden" th:name="'amount_'+${iter.count}" th:value="${cardItem.value.price}">
        <input type="hidden" th:name="'quantity_'+${iter.count}" th:value="${cardItem.value.quantity}">
    </th:block>

    <input type="hidden" name="currency_code" value="USD">
    <input type="image" src="http://www.paypal.com/en_US/i/btn/x-click-but01.gif" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
</form>
