<!doctype html>
<html lang="en">

<head th:replace="/fragments/head"></head>

<body>

<nav th:replace="/fragments/nav :: nav-front"></nav>

<div class="container-fluid mt-5">
    <div class="row">
        <div th:replace="/fragments/categories"></div>
        <div class="col"></div>
        <div class="col-7">
            <div class="overlay text-dark d-none">
                <h4 class="display-4 d-inline">You are being directed to PayPal</h4>
                <div class="spinner-grow spinner-grow-sm" role="status"></div>
                <div class="spinner-grow spinner-grow-sm" role="status"></div>
                <div class="spinner-grow spinner-grow-sm" role="status"></div>
            </div>
            <h2 class="display-4">Cart Overview</h2>
            <table class="table">
                <tr>
                    <th>Product</th>
                    <th>Image</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
                <tr th:each="element: ${card}">
                    <td th:text="${element.value.name}"></td>
                    <td>
                        <img style="width: 100px;" th:src="@{${element.value.imagePath}}"/>
                    </td>
                    <td>
                        <span th:class="${element.value.id} + '_quantity'" th:text="${element.value.quantity}"></span>
                        <a th:attr="data-id=${element.value.id}" class="btn btn-success btn-sm incrementQuantity">+</a>

                        <a th:href="@{'/card/subtract/' + ${element.value.id}}" th:attr="data-id=${element.value.id}"
                           class="btn btn-primary btn-sm decrementQuantity">-</a>
                        <a th:attr="data-id=${element.value.id}" th:href="@{'/card/remove/'+${element.value.id}}"
                           class="btn btn-danger btn-sm remove">remove</a>
                    </td>
                    <td th:class="${element.value.id} + '_price'" th:text="'€' + ${element.value.price}"></td>

                    <td th:class="${element.value.id} + '_subTotal' "
                        th:with="formattedTotal=${element.value.price} * ${element.value.quantity}"
                        th:text="'€' + ${#numbers.formatDecimal(formattedTotal,2,'COMMA',2,'POINT')}">
                    </td>
                </tr>
                <tr>
                    <td class="text-right" colspan="4"><b>Grand Total:</b></td>
                    <td colspan="1" class="grandTotal"
                        th:text="'€' + ${#numbers.formatDecimal(cardTotal,2,'COMMA',2,'POINT')}"></td>
                </tr>
                <tr>
                    <td>
                        <a th:href="@{'/card/clear'}" class="btn btn-danger">Clear Card</a>
                    </td>

                    <td colspan="4" sec:authorize="isAuthenticated()">
                        <span class="btn btn-success checkout">Checkout</span>
                    </td>

                    <td colspan="4" sec:authorize="isAnonymous()">
                        <a th:href="@{'/login'}" class="btn btn-success">Login to checkout</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col"></div>
    </div>
</div>


<div th:replace="/fragments/paypalForm"></div>

<div th:replace="/fragments/footer"></div>

<script>

    $("span.checkout").click(function (e) {
        e.preventDefault();
        $("div.overlay").removeClass("d-none");
        $.get("/order/add", {}, function () {
        }).done(function (){
            $("form#paypalForm").submit();
        });
    });

    const euroEU = Intl.NumberFormat("en-DE", {
        style: "currency",
        currency: "EUR",
    });

    function updatePrices(id,data,incrementMode) {

        let productQuantity = data.productQuantity;
        let cardTotal = data.cardTotal;
        let productTotalPrice = data.productTotalPrice;

        let quantitySpan = $("." + id + "_quantity");

        quantitySpan.html(productQuantity);

        let subTotal = $("." + id + "_subTotal");
        subTotal.html(euroEU.format(productTotalPrice));

        let grandTotal = $(".grandTotal");
        grandTotal.html(euroEU.format(cardTotal));

        if (!incrementMode) {
            if (productQuantity === 0)
                quantitySpan.closest('tr').remove();
            if (cardTotal === 0)
                window.location.replace("/category/all");
        }
    }

    $("a.incrementQuantity").click(function (e) {
        e.preventDefault();
        let $this = $(this);
        let id = $this.attr("data-id");
        let url = "/card/json/add/" + id;
        $.get(url, {}, function (data) {
            updatePrices(id,data,true);
        });
    });

    $("a.decrementQuantity").click(function (e) {
        e.preventDefault();
        let $this = $(this);
        let id = $this.attr("data-id");
        let url = "/card/json/subtract/" + id;
        $.get(url, {}, function (data) {
            updatePrices(id,data,false);
        });
    });

    $("a.remove").click(function (e) {
        e.preventDefault();
        let $this = $(this);
        let id = $this.attr("data-id");
        let url = "/card/json/remove/" + id;
        $.get(url, {}, function (data) {
            let subTotal = $("." + id + "_subTotal");
            let cardTotal = data.cardTotal;
            let grandTotal = $(".grandTotal");
            subTotal.closest('tr').remove();

            if (cardTotal === 0)
                window.location.replace("/category/all");
            else
                grandTotal.html(euroEU.format(cardTotal));
        });
    });

</script>

</body>

</html>